@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#text-one {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#text-two {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

#door {
  position: relative;
  width: 80px;
  height: 120px;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#doorfront {
  position: absolute;
  z-index: 1;
  width: 78px;
  height: 118px;
  top: 1px;
  left: 1px;
  border: 2px solid rgb(253, 224, 71);
  background-color: #fff;
  transition: 0.5s;
  transform-origin: left;
}

#door:hover #doorfront {
  transform: rotateY(-160deg);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

#doorframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(253, 224, 71);
  background-color: #fff;
}

#doorknob {
  position: absolute;
  top: calc(50% - 5px);
  right: 2px;
  border-radius: 50%;
  border: 2px solid rgb(253, 224, 71);
  width: 10px;
  height: 10px;
}

.shelf-plank {
  height: 14px;
  border-top: 2px solid rgb(253, 224, 71);
  border-bottom: 2px solid rgb(253, 224, 71);
  /* margin-bottom: 10px; */
}
